{% load fec %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="{{ 'images/favicon.ico'|fec_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="{{ 'images/logo.png'|fec_url }}"/>
    
    <title>eduTech Frontend Components</title>
    <link href="{{ 'stylesheets/pagenotfound.min.css'|fec_url }}" rel="stylesheet">
    <script type="application/json" id="edt-page-metadata">
      {
        "wildcard": "local.groove.education",
        "isAuthenticated": false,
        "applicationName": "Groove eLearning",
        "footerFacebookUrl": "https://www.facebook.com/groovetechnologycom",
        "footerLinkedInUrl": "https://www.linkedin.com/company/groove-technology"
      }
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    
    <script src="{{ 'javascripts/pagenotfound.min.js'|fec_url }}"></script>
  </body>
</html>
